@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maitree:wght@300&display=swap");
@import '/sass/vendors/owl.carousel.min.css';
@import '/sass/vendors/owl.theme.default.css';
footer {
  border-top: 10px solid #CBAF6F;
  background-color: #0E1B4A;
  margin-bottom: 0;
  padding-left: 28%;
  color: #CBAF6F;
  padding-bottom: 20px;
}
footer p {
  margin: 0;
}
footer .contact-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer .contact-footer ul {
  list-style: none;
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
footer .contact-footer ul a, footer .contact-footer ul li {
  font-family: "Maitree", Verdana, Geneva, Tahoma, sans-serif;
}
footer .contact-footer h2 {
  font-size: 20px;
}
footer a {
  text-decoration: none;
  color: #CBAF6F;
}
footer a:hover {
  color: #9b8552;
  text-decoration: underline;
}
footer .nav-name {
  font-weight: normal;
  margin: 0px;
  font-size: 80px;
  font-family: "Italianno", Verdana, Geneva, Tahoma, sans-serif;
}
footer .nav-quote {
  margin: 0px;
  font-size: 40px;
  font-family: "Amiri", Verdana, Geneva, Tahoma, sans-serif;
}
footer .footer-newsletter {
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
footer .footer-newsletter .newsletter {
  font-family: "Maitree", Verdana, Geneva, Tahoma, sans-serif;
  max-width: 40%;
}
footer .footer-newsletter .newsletter label {
  font-size: 20px;
}
footer .footer-newsletter .newsletter p {
  margin-top: 10px;
}
footer .footer-newsletter .contact-mail {
  margin-top: 20px;
}
footer .footer-newsletter .contact-submit {
  margin-left: 20px;
  color: #FFFFFF;
  background-color: #000000;
  padding: 8px;
  cursor: pointer;
}
footer .footer-newsletter #email {
  padding: 8px;
}
footer .footer-newsletter a {
  text-decoration: none;
}
footer .footer-newsletter a:hover {
  color: #9b8552;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
}

#myImg:hover {
  text-decoration: underline;
  color: #9b8552;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 75%;
  height: 80%;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* The Close Button */
#close-taille {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#close-taille:hover,
#close-taille:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
@media screen and (max-width: 390px) {
  footer .contact-footer {
    flex-direction: column;
    margin-left: -10px;
  }
  footer .contact-footer ul {
    margin: 0;
    font-size: 10px;
  }
  footer .contact-footer ul li {
    padding: 5px;
  }
  footer .nav-name {
    font-size: 40px;
  }
  footer .nav-quote {
    font-size: 20px;
  }
  footer .footer-newsletter {
    margin-top: 20px;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .footer-newsletter .newsletter {
    margin-left: 20px;
    margin-top: 20px;
    max-width: 40%;
  }
  footer .footer-newsletter .newsletter label {
    font-size: 14px;
    margin-top: 20px;
    width: 100%;
  }
  footer .footer-newsletter .newsletter p {
    width: 100%;
    font-size: 10px;
  }
  footer .footer-newsletter .contact-mail {
    margin-left: -50px;
    font-size: 14px;
  }
  footer .footer-newsletter .contact-submit {
    margin-left: -8px;
    margin-top: 10px;
    font-size: 14px;
    padding: 4px;
  }
  footer .footer-newsletter #email {
    padding: 4px;
  }
}
nav {
  display: flex;
  flex-direction: column;
  padding-left: 3%;
  padding-top: 1%;
  position: fixed;
  width: 25%;
  height: 100%;
  background-color: #0E1B4A;
  color: #CBAF6F;
}
nav p {
  margin: 0;
}
nav a {
  padding-left: 0px;
  text-decoration: none;
  color: #CBAF6F;
}
nav a:hover {
  color: #9b8552;
}
nav ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}
nav ul li {
  list-style-type: none;
  padding-top: 10px;
}
nav ul li a {
  padding-left: 0px;
  font-family: "Amiri", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
  text-decoration: none;
  color: #CBAF6F;
}
nav ul li a:hover {
  text-decoration: underline;
}
nav .nav-name {
  margin: 0;
  font-size: 4em;
  font-family: "Italianno", Verdana, Geneva, Tahoma, sans-serif;
}
nav .nav-quote {
  margin: 0;
  font-size: 1em;
  font-family: "Amiri", Verdana, Geneva, Tahoma, sans-serif;
}

nav .google-map {
  width: 85%;
  height: 30%;
  border: 10px solid #CBAF6F;
}
nav .google-map iframe {
  width: 100%;
  height: 100%;
}

.btn-global {
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 30px;
  margin-left: 15%;
}
.btn-global:hover {
  opacity: 0.7;
}

.burger, .cross {
  display: none;
}

@media screen and (max-width: 390px) {
  .burger {
    position: fixed;
    display: block;
    z-index: 20;
    left: 0%;
    background-color: #0E1B4A;
    height: 100%;
    color: #FFFFFF;
    padding: 10px;
    width: 25px;
  }
  .burger i {
    font-size: 30px;
  }
  .cross {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 20px;
    margin: 10px;
    color: #FFFFFF;
  }
  nav {
    width: 50%;
    margin-top: 0;
    z-index: 10;
    position: fixed;
    top: 0%;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    transform: translateX(-300%);
  }
  nav .elementnav {
    margin: 10px;
    padding: 10px;
  }
  nav .nav-name {
    font-size: 60px;
  }
  nav .nav-quote {
    font-size: 20px;
  }
  nav ul li a {
    font-size: 30px;
  }
  .menunav.open {
    transition: all 0.5s ease-in-out;
    transform: translateX(0%);
  }
  nav iframe {
    width: 75%;
    height: 20%;
  }
  nav .google-map {
    margin-top: 20px;
  }
  .btn-global {
    margin-top: 50px;
    color: #FFFFFF;
    font-size: 25px;
    margin-left: 15%;
  }
  .btn-global:hover {
    opacity: 0.7;
  }
  .hidden {
    display: none;
  }
}
.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.section .bloc {
  position: relative;
  height: 100%;
  margin-bottom: 20px;
}
.section .bloc img {
  width: 250px;
  height: 475px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.section a {
  font-weight: bold;
  text-decoration: none;
}
.section a:hover img {
  opacity: 0.7;
}
.section a:hover {
  color: black;
}

.text {
  font-weight: normal;
  font-family: "Amiri", Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  position: absolute;
  top: 0;
  right: 10px;
  color: black;
  background-color: white;
  margin-top: 8px;
  border: 2px solid #CBAF6F;
}
.text p {
  margin: 0;
}

.matiereun {
  font-family: "Maitree", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #0E1B4A;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-top: -5px;
}
.matiereun p {
  margin: 0;
  margin-left: 5px;
  background-color: #FFFFFF;
  padding: 2px;
  border: 2px solid #CBAF6F;
}

.couturier {
  height: 300px;
  width: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.panier {
  position: absolute;
  top: 20px;
  right: 30px;
  margin-right: 20px;
}
.panier a i {
  color: #FFFFFF;
  font-size: 40px;
}
.panier a:hover {
  opacity: 0.7;
}

.fleche {
  z-index: 10;
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;
  margin-right: 1px;
}
.fleche i {
  width: 25px;
  font-size: 40px;
  color: #CBAF6F;
}
.fleche:hover {
  opacity: 0.7;
}

html {
  scroll-behavior: smooth;
}

.index-custom-footer {
  margin-top: 50px;
}

@media screen and (max-width: 390px) {
  .couturier {
    height: 300px;
  }
  .panier {
    margin-right: 0;
  }
  .panier a i {
    font-size: 30px;
  }
  .fleche {
    display: none;
  }
}
.titrecgv {
  font-family: "Italianno", Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 50px;
  margin-bottom: 100px;
  margin-top: 0px;
  border-bottom: 4px solid #CBAF6F;
  -webkit-animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.image {
  width: 100%;
  height: 400px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.soustitrecgv {
  font-family: "Amiri", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 34px;
  margin: 40px 0px 0px 20px;
}

.textcgv {
  font-family: "Maitree", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  margin: 40px 0px 40px 30px;
}

h1 {
  font-family: "Italianno", Verdana, Geneva, Tahoma, sans-serif;
}

.top-img {
  width: 100%;
  height: 400px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  padding-left: 28%;
}
main .page-contact {
  margin: 0;
  margin-top: 20px;
  font-family: "Amiri", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 70px;
  display: flex;
  justify-content: center;
}
main .contact-infos {
  margin: 0;
  margin-top: 20px;
  text-decoration: none;
  font-family: "Maitree", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  margin-left: 320px;
}
main .contact-infos:first-child {
  margin-top: -55px;
}
main a {
  color: black;
  text-decoration: underline;
}
main a:hover {
  color: #808080;
}
main .div-contact-adresse {
  margin-left: -150px;
  display: flex;
}
main .div-contact-adresse, main .google-map-contact {
  margin-top: 100px;
}
main .div-contact-adresse img, main .google-map-contact img {
  margin-left: 10%;
  width: 30%;
}
main .google-map-contact {
  margin-top: 100px;
  margin-left: 50px;
  width: 90%;
  height: 700px;
  border: 10px solid #CBAF6F;
}
main .google-map-contact .google-map {
  width: 100%;
  height: 100%;
}
main .contact-form-div {
  display: flex;
  justify-content: center;
}
main .contact-form-div .contact-form {
  border: 10px solid #CBAF6F;
  border-radius: 50px;
  color: white;
  width: 50%;
  background-color: #0E1B4A;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 200px;
}
main .contact-form-div .contact-form fieldset {
  border: 0;
}
main .contact-form-div .contact-form fieldset div {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
main .contact-form-div .contact-form fieldset div input, main .contact-form-div .contact-form fieldset div textarea {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  font-family: "Maitree", Verdana, Geneva, Tahoma, sans-serif;
}
main .contact-form-div .contact-form fieldset div label {
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  font-family: "Maitree", Verdana, Geneva, Tahoma, sans-serif;
}
main .contact-form-div .contact-form fieldset .btn-submit {
  border: 0;
  font-size: 20px;
  height: 50px;
  width: 150px;
  color: #FFFFFF;
  background-color: #000000;
  border: 1px solid #808080;
}
main .contact-form-div .contact-form fieldset .btn-submit:hover {
  background-color: #808080;
  border: 1px solid #000000;
  cursor: pointer;
}

@media screen and (max-width: 390px) {
  .top-img {
    width: 100%;
  }
  main {
    padding: 0;
    margin-left: 25px;
  }
  main .page-contact {
    font-size: 30px;
  }
  main .div-contact-adresse {
    display: flex;
    flex-wrap: wrap;
    margin-left: -250px;
  }
  main .div-contact-adresse p, main .div-contact-adresse a {
    font-size: 16px;
  }
  main .div-contact-adresse img {
    width: 50%;
    margin-top: 20px;
    margin-left: 290px;
  }
  main .google-map-contact {
    margin-left: 50px;
    width: 70%;
    height: 50%;
    border: 10px solid #CBAF6F;
  }
  main .google-map-contact .google-map {
    width: 100%;
    height: 100%;
  }
  main .contact-form-div .contact-form {
    margin-left: 50px;
    width: 70%;
  }
  main .contact-form-div .contact-form fieldset div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  main .contact-form-div .contact-form fieldset div input, main .contact-form-div .contact-form fieldset div textarea {
    width: 70%;
  }
  main .contact-form-div .contact-form fieldset div textarea {
    height: 100px;
  }
  main .contact-form-div .contact-form fieldset div label {
    font-size: 16px;
  }
  main .contact-form-div .contact-form fieldset div:first-child {
    margin-top: 0;
  }
  main .contact-form-div .contact-form fieldset .btn-submit {
    font-size: 16px;
  }
}
.banner {
  width: 100%;
}

.title {
  font-family: "Amiri", Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  border: 10px solid #CBAF6F;
  border-radius: 40px;
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0E1B4A;
  text-align: center;
  color: white;
  font-size: 70px;
  width: 80%;
  justify-content: center;
  margin-left: 10%;
  margin-right: auto;
}

#illu {
  margin-left: 17%;
  margin-top: 20px;
  height: 1000px;
  width: 60%;
  -o-object-fit: contain;
     object-fit: contain;
}

.infos {
  margin-top: 30%;
  font-size: xx-large;
}

body .divarticle {
  list-style: none;
  border: 10px solid #CBAF6F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  width: 70%;
  background-color: #0E1B4A;
  height: 800px;
  font-size: xx-large;
  text-align: center;
  color: #FFFFFF;
  margin-left: 15%;
  margin-bottom: 10%;
  font-family: "Maitree", Verdana, Geneva, Tahoma, sans-serif;
}
body .divarticle p {
  margin: 0px;
}
body .divarticle ul {
  list-style: none;
}
body .divarticle .article-text-list {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 390px) {
  .title {
    border: 5px solid #CBAF6F;
    font-size: medium;
    margin-left: 11%;
    font-size: x-large;
  }
  #illu {
    width: 80%;
    height: 80%;
    margin-left: 12%;
  }
  body .divarticle {
    border: 5px solid #CBAF6F;
    width: 80%;
    height: 600px;
    margin-left: 11%;
    margin-right: auto;
    margin-bottom: 20px;
  }
  #textearticle {
    margin-top: 0%;
    width: 80%;
    margin-left: 15%;
  }
  .article-text-list {
    max-width: 40%;
    font-size: large;
  }
}
#preambule {
  text-align: center;
  -webkit-text-decoration: underline 1px #CBAF6F;
          text-decoration: underline 1px #CBAF6F;
}

.apropos {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  margin-left: 10%;
}
.apropos .apptxt {
  order: 0;
  width: 50%;
  align-self: center;
  margin-left: 50px;
  justify-self: center;
}
.apropos .appimg {
  border-top: 5px solid #CBAF6F;
  border-left: 10px solid #CBAF6F;
  order: 1;
  height: 500px;
  margin-top: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.texthover {
  color: black;
  background-color: white;
  font-family: "Amiri", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: bold;
  border: 2px solid #CBAF6F;
}

.yt {
  width: 98%;
  border: 7px solid #CBAF6F;
}

.example {
  position: relative;
  padding: 0;
  width: 300px;
  display: block;
  cursor: pointer;
  overflow: hidden;
}

.contenu {
  opacity: 0;
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  transition: all 400ms ease-out;
  text-align: center;
}

.example .contenu:hover {
  opacity: 1;
}

.example .contenu .texthover {
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 1s;
}

.example .contenu:hover .texthover {
  opacity: 1;
  transform: translateY(200px);
  -webkit-transform: translateY(550px);
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */