h1{
    font-family: 'Italianno', Verdana, Geneva, Tahoma, sans-serif
}
nav{
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-top: 1%;
    position: fixed;
    width: 25%;
    height: 100%;
    background-color: $bluemenu;
    color: $goldmenu;
    p{
        margin: 0;   
    }
    a{
        padding-left: 0px;
        text-decoration: none;
        color: $goldmenu;
        &:hover{
            text-decoration: underline;
        }
    } 
    ul{
        display: flex;
        flex-direction: column;
        padding: 0;
        li{
            list-style-type: none;
            padding-top: 20px;
            a{
                padding-left: 0px;
                font-family: 'Amiri', Verdana, Geneva, Tahoma, sans-serif;
                font-size: 40px;
                text-decoration: none;
                color: $goldmenu;
                &:hover{
                    text-decoration: underline;
                }
            } 
        }
    }
    .nav-name{
        font-size: 80px;
        font-family: 'Italianno', Verdana, Geneva, Tahoma, sans-serif
    }
    .nav-quote{
        font-size: 25px;
        font-family: 'Amiri', Verdana, Geneva, Tahoma, sans-serif;
    }
}




nav iframe{
    width: 85%;
    height: 30%; 
}
.btn-global{
    margin-top: 50px;
    color: $whiteres;
    font-size: 50px;
    margin-left: 15%;
    &:hover{
        opacity: 0.7;
    }
}


.top-img{
    width: 100%;
    height: 400px;
    overflow: hidden;
    object-fit: cover;
}
main{
    padding-left: 28%;
    .page-contact{
        margin: 0;
        margin-top: 20px;
        font-family: 'Amiri';
        font-size: 70px;
        display: flex;
        justify-content: center;
    }
    p, a{
        margin: 0;
        margin-top: 20px;
        text-decoration: none;
        display: flex;
        font-family: 'Maitree', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
        margin-left: 320px;
        &:first-child{
            margin-top: -55px
        }
    };
    a{
        color: black;
        text-decoration: underline;
        &:hover{
            color: $graycontact;
        }
    }
    .div-contact-adresse{
        margin-left: -150px;
        display: flex;
    }
    div{
        margin-top: 100px;
        img{
            margin-left: 10%;
            width: 30%;
        }
    } 
    .google-map{
        margin-top: 100px;
        margin-left: 50px;
        width: 90%;
        height: 700px;
    }
    .contact-form{
        border: 10px solid $goldmenu;
        border-radius: 50px;
        color: white;
        margin-left: 350px;
        display: flex;
        justify-content: center;
        width: 50%;
        background-color: $bluemenu;
        margin-top: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 200px;
        fieldset{
            border: 0;
            div{
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                input,textarea{
                    margin-left: auto;
                    margin-right: auto;
                    width: 40%;
                    font-family: 'Maitree', Verdana, Geneva, Tahoma, sans-serif;
                }
                label{
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 30px;
                    font-family: 'Maitree', Verdana, Geneva, Tahoma, sans-serif;
                }
            }
            .btn-submit{
                border: 0;
                font-size: 20px;
                height: 50px;
                width: 150px;
                color: $whiteres;
                background-color: $blackcontact;
                border: 1px solid $graycontact;
                &:hover{
                    background-color: $graycontact;
                    border: 1px solid $blackcontact;
                    cursor: pointer;
                }
            }
        }
    }
}
footer{
    border-top: 10px solid $goldmenu;
    background-color: $bluemenu;
    margin-bottom: 0;
    padding-left: 28%;
    color: $goldmenu;
    padding-bottom: 20px;
    p{
        margin: 0;   
    }
    .contact-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        ul{
            margin: 20px;
            display: flex;
            flex-direction: column;
            text-align: center;
            a{
                font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
            }
        }
        h2{
            font-size: 20px;
        }
    }
    a{
        text-decoration: none;
        color: $goldmenu;
        &:hover{
            text-decoration: underline;
        }

    }
    .nav-name{
        font-weight: normal;
        margin: 0px;
        font-size: 80px;
        font-family: 'Italianno', Verdana, Geneva, Tahoma, sans-serif
    }
    .nav-quote{
        margin: 0px;
        font-size: 40px;
        font-family: 'Amiri', Verdana, Geneva, Tahoma, sans-serif;
    }
    .footer-newsletter{
        margin-right: 20px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        .newsletter{
            font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
            max-width: 40%;
            label{
                font-size: 20px;
            }
            p{
                margin-top: 10px;
            }
        }
        .contact-mail{
            margin-top: 20px;
        }
        .contact-submit{
            margin-left: 20px;
            color: $whiteres;
            background-color: $blackcontact;
            padding: 8px;
            cursor: pointer;
        }
        #email{
            padding: 8px;
        }
    }
}