h1{
    font-family: 'Italianno', Verdana, Geneva, Tahoma, sans-serif
}
.top-img{
    width: 100%;
    height: 400px;
    overflow: hidden;
    object-fit: cover;
}
main{
    padding-left: 28%;
    .page-contact{
        margin: 0;
        margin-top: 20px;
        font-family: 'Amiri', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 70px;
        display: flex;
        justify-content: center;
    }
    .contact-infos{

        margin: 0;
        margin-top: 20px;
        text-decoration: none;
        font-family: 'Maitree', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
        margin-left: 320px;
        &:first-child{
            margin-top: -55px
        }
    }
    a{
        color: black;
        text-decoration: underline;
        &:hover{
            color: $graycontact;
        }
    }
    .div-contact-adresse{
        margin-left: -150px;
        display: flex;
    }
    .div-contact-adresse, .google-map-contact{
        margin-top: 100px;
        img{
            margin-left: 10%;
            width: 30%;
        }
    } 
    .google-map-contact{
        margin-top: 100px;
        margin-left: 50px;
        width: 90%;
        height: 700px;
        border: 10px solid #CBAF6F;
        .google-map{
            width: 100%;
            height: 100%;
        }
    }
    .contact-form-div{
        display: flex;
        justify-content: center;
    .contact-form{
        border: 10px solid $goldmenu;
        border-radius: 50px;
        color: white;
        width: 50%;
        background-color: $bluemenu;
        margin-top: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 200px;
        fieldset{
            border: 0;
            div{
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                input,textarea{
                    margin-left: auto;
                    margin-right: auto;
                    width: 40%;
                    font-family: 'Maitree', Verdana, Geneva, Tahoma, sans-serif;
                }
                label{
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 30px;
                    font-family: 'Maitree', Verdana, Geneva, Tahoma, sans-serif;
                }
            }
            .btn-submit{
                border: 0;
                font-size: 20px;
                height: 50px;
                width: 150px;
                color: $whiteres;
                background-color: $blackcontact;
                border: 1px solid $graycontact;
                &:hover{
                    background-color: $graycontact;
                    border: 1px solid $blackcontact;
                    cursor: pointer;
                }
            }
        }
    }
}
}

@media screen and (max-width: 390px) {
    .top-img{
        width: 100%;
    }
    main{
        padding: 0;
        margin-left: 25px;
        .page-contact{
            font-size: 30px;
        }
        .div-contact-adresse{
            display: flex;
            flex-wrap: wrap;
            margin-left: -250px;
            p, a{
                font-size: 16px;
            }
            img{
                width: 50%;
                margin-top: 20px;
                margin-left: 290px
            }
        }
        .google-map-contact{
            margin-left: 50px;
            width: 70%;
            height: 50%;
            border: 10px solid #CBAF6F;
            .google-map{
                width: 100%;
                height: 100%;
            }
        }
        .contact-form{
            margin-left: 50px;
            width: 70%;
            fieldset{
                div{
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    input,textarea{
                        width: 70%;
                    }
                    textarea{
                        height: 100px;
                    }
                    label{
                        font-size: 16px;
                    }
                    &:first-child{
                        margin-top: 0;
                    }
                }
                .btn-submit{
                    font-size: 16px;
                }
            }
        }
    }  
}
