.banner {
    width: 75%;
}

.title {
    border: 10px solid $goldmenu;
    border-radius: 40px;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $bluemenu;
    text-align: center;
    color: white;
    font-size: 50px;
    width: 80%;
    justify-content: center;
    margin-left: 10%;
    margin-right: auto;
}

.photo {
    display: flex;
  }

#illu{
    margin-left: 15%;
    margin-top: 20px;
    height: 1000px;
    width: 35%;
    object-fit: contain;
}

.infos {
    margin-top: 30%;
    font-size: xx-large;
}

body .divarticle {
    border: 10px solid $goldmenu;
    display: flex;
    margin-top: 20px;
    width: 70%;
    background-color: $bluemenu;
    height: 500px;
    font-size: xx-large;
    text-align: center;
    color: $whiteres;
    justify-content: center;
    margin-left: 15%;
    margin-right: auto;
    margin-bottom: 20px;
}

#textearticle {
    margin-top: 20%;
}

@media screen and (max-width: 390px) {
    .banner {
        width: 100%;
        margin-left: 50%;
    }
    
    .title {
        border: 10px solid $goldmenu;
        border-radius: 40px;
        margin-top: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: $bluemenu;
        text-align: center;
        color: white;
        font-size: 30px;
        width: 110%;
        justify-content: center;
        margin-left: 57%;
        margin-right: auto;
    }
    
    .photo {
        display: flex;
        flex-direction: column;
    }

    #illu{
        margin-top: 50px;
        height: 600px;
        width: 100%;
    }
    
    .infos {
        font-size: medium;
    }
    
    body .divarticle {
        border: 10px solid $goldmenu;
        display: flex;
        margin-top: 20px;
        width: 120%;
        background-color: $bluemenu;
        height: 800px;
        font-size: xx-large;
        text-align: center;
        color: $whiteres;
        justify-content: center;
        margin-left: 60%;
        margin-right: auto;
        margin-bottom: 20px;
    }
    
    #textearticle {
        margin-top: 25%;
        width: 50%;
    }
}