.banner {
    width: 75%;
}

.title {
    font-family: 'Italianno';
    border: 10px solid $goldmenu;
    border-radius: 40px;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $bluemenu;
    text-align: center;
    color: white;
    font-size: 70px;
    width: 80%;
    justify-content: center;
    margin-left: 10%;
    margin-right: auto;
}

.photo {
    display: flex;
}

#illu{
    margin-left: 17%;
    margin-top: 20px;
    height: 1000px;
    width: 60%;
    object-fit: contain;
}

.infos {
    margin-top: 30%;
    font-size: xx-large;
}

body .divarticle {
    list-style: none;
    border: 10px solid $goldmenu;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    width: 70%;
    background-color: $bluemenu;
    height: 800px;
    font-size: xx-large;
    text-align: center;
    color: $whiteres;
    margin-left: 15%;
    margin-bottom: 10%;
    font-family: 'Maitree';
    p{
        margin: 0px;
    }
    ul{
        list-style: none;
    }
    .article-text-list{
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}


@media screen and (max-width: 390px) {
    .banner {
        width: 100%;
        margin-left: 50%;
    }
    
    .title {
        font-family: 'Italianno';
        border: 5px solid $goldmenu;
        border-radius: 40px;
        padding-bottom: 10px;
        background-color: $bluemenu;
        text-align: center;
        color: white;
        font-size: medium;
        width: 80%;
        justify-content: center;
        margin-left: 11%;
        margin-right: auto;
        font-size: x-large;
    }
    
    .photo {
        display: flex;
    }

    #illu{
        width: 80%;
        height: 80%;
        margin-left: 12%;
    }
    
    body .divarticle {
        border: 5px solid $goldmenu;
        display: flex;
        width: 80%;
        background-color: $bluemenu;
        height: 600px;
        font-size: xx-large;
        text-align: center;
        color: $whiteres;
        justify-content: center;
        margin-left: 11%;
        margin-right: auto;
        margin-bottom: 20px;
        font-family: 'Maitree';
    }
    
    #textearticle {
        margin-top: 0%;
        width: 80%;
        margin-left: 15%;
    }

    .article-text-list{
        max-width: 40%;
        font-size: large;
    }
}