img
{
  width: 200px;
  height: 300px;

}

.section
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

// .sectiondeux
// {
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: row;
//   justify-content: space-evenly;
// }

// .sectiontrois
// {
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: row;
//   justify-content: space-evenly;
// }

// .sectionquatre
// {
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: row;
//   justify-content: space-evenly;
// }

// .sectioncinq
// {
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: row;
//   justify-content: space-evenly;
// }

// .sectionsix
// {
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: row;
//   justify-content: space-evenly;
// }

// .sectionsept
// {
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: row;
//   justify-content: space-evenly;
// }


.bloc
{
  position: relative;
  height: 100%; 
}

.text
{
  position: absolute;
  top: 0;
  right: 10px;
  color: black;
  background-color: white;
}

.matiereun
{
  position: absolute;
  bottom: 0;
  left: 0px;
  color: black;
  background-color: white;
}

.matieredeux
{
  position: absolute;
  bottom: 0;
  right: 0px;
  color: black;
  background-color: white;
}


// .blocdeux
// {
//   position: relative; 
// }

// .textdeux
// {
//   position: absolute;
//   top: 0;
//   right: 10px;
//   opacity: 0;
//   -webkit-transition: opacity .5s ease;
//   transition: opacity .5s ease;
//   color: black;
//   background-color: white;
// }

// .blocdeux .textdeux 
// {
// opacity: 1;
// }

// .matieretrois
// {
//   position: absolute;
//   bottom: 0;
//   left: 0px;
//   opacity: 0;
//   -webkit-transition: opacity .5s ease;
//   transition: opacity .5s ease;
//   color: black;
//   background-color: white;
// }

// .blocdeux .matieretrois
// {
// opacity: 1;
// }

// .matierequatre
// {
//   position: absolute;
//   bottom: 0;
//   right: 0px;
//   opacity: 0;
//   -webkit-transition: opacity .5s ease;
//   transition: opacity .5s ease;
//   color: black;
//   background-color: white;
// }

// .blocdeux .matierequatre 
// {
// opacity: 1;
// }

// .bloctrois
// {
//   position: relative; 
// }

// .texttrois
// {
//   position: absolute;
//   top: 0;
//   right: 10px;
//   opacity: 0;
//   -webkit-transition: opacity .5s ease;
//   transition: opacity .5s ease;
//   color: black;
//   background-color: white;
// }

// .bloctrois .texttrois 
// {
// opacity: 1;
// }

// .matierecinq
// {
//   position: absolute;
//   bottom: 0;
//   left: 0px;
//   opacity: 0;
//   -webkit-transition: opacity .5s ease;
//   transition: opacity .5s ease;
//   color: black;
//   background-color: white;
// }

// .bloctrois .matierecinq
// {
// opacity: 1;
// }

// .matieresix
// {
//   position: absolute;
//   bottom: 0;
//   right: 0px;
//   opacity: 0;
//   -webkit-transition: opacity .5s ease;
//   transition: opacity .5s ease;
//   color: black;
//   background-color: white;
// }

// .bloctrois .matieresix 
// {
// opacity: 1;
// }

// .blocquatre
// {
//   position: relative; 
// }

// .textquatre
// {
//   position: absolute;
//   top: 0;
//   right: 10px;
//   opacity: 0;
//   -webkit-transition: opacity .5s ease;
//   transition: opacity .5s ease;
//   color: black;
//   background-color: white;
// }

// .blocquatre .textquatre 
// {
// opacity: 1;
// }

// .matieresept
// {
//   position: absolute;
//   bottom: 0;
//   left: 0px;
//   opacity: 0;
//   -webkit-transition: opacity .5s ease;
//   transition: opacity .5s ease;
//   color: black;
//   background-color: white;
// }

// .blocquatre .matieresept
// {
// opacity: 1;
// }

// .matierehuit
// {
//   position: absolute;
//   bottom: 0;
//   right: 0px;
//   opacity: 0;
//   -webkit-transition: opacity .5s ease;
//   transition: opacity .5s ease;
//   color: black;
//   background-color: white;
// }

// .blocquatre .matierehuit 
// {
// opacity: 1;
// }

// .bloccinq
// {
//   position: relative; 
// }

// .textcinq
// {
//   position: absolute;
//   top: 0;
//   right: 10px;
//   opacity: 0;
//   -webkit-transition: opacity .5s ease;
//   transition: opacity .5s ease;
//   color: black;
//   background-color: white;
// }

// .bloccinq .textcinq 
// {
// opacity: 1;
// }

// .matiereneuf
// {
//   position: absolute;
//   bottom: 0;
//   left: 0px;
//   opacity: 0;
//   -webkit-transition: opacity .5s ease;
//   transition: opacity .5s ease;
//   color: black;
//   background-color: white;
// }

// .bloccinq .matiereneuf
// {
// opacity: 1;
// }

// .matieredix
// {
//   position: absolute;
//   bottom: 0;
//   right: 0px;
//   opacity: 0;
//   -webkit-transition: opacity .5s ease;
//   transition: opacity .5s ease;
//   color: black;
//   background-color: white;
// }

// .bloccinq .matieredix 
// {
// opacity: 1;
// }

// .blocsix
// {
//   position: relative; 
// }

// .textsix
// {
//   position: absolute;
//   top: 0;
//   right: 10px;
//   opacity: 0;
//   -webkit-transition: opacity .5s ease;
//   transition: opacity .5s ease;
//   color: black;
//   background-color: white;
// }

// .blocsix .textsix 
// {
// opacity: 1;
// }

// .matiereonze
// {
//   position: absolute;
//   bottom: 0;
//   left: 0px;
//   opacity: 0;
//   -webkit-transition: opacity .5s ease;
//   transition: opacity .5s ease;
//   color: black;
//   background-color: white;
// }

// .blocsix .matiereonze
// {
// opacity: 1;
// }

// .matieredouze
// {
//   position: absolute;
//   bottom: 0;
//   right: 0px;
//   opacity: 0;
//   -webkit-transition: opacity .5s ease;
//   transition: opacity .5s ease;
//   color: black;
//   background-color: white;
// }

// .blocsix .matieredouze 
// {
// opacity: 1;
// }

// .blocsept
// {
//   position: relative; 
// }

// .textsept
// {
//   position: absolute;
//   top: 0;
//   right: 10px;
//   opacity: 0;
//   -webkit-transition: opacity .5s ease;
//   transition: opacity .5s ease;
//   color: black;
//   background-color: white;
// }

// .blocsept .textsept 
// {
// opacity: 1;
// }

// .matieretreize
// {
//   position: absolute;
//   bottom: 0;
//   left: 0px;
//   opacity: 0;
//   -webkit-transition: opacity .5s ease;
//   transition: opacity .5s ease;
//   color: black;
//   background-color: white;
// }

// .blocsept .matieretreize
// {
// opacity: 1;
// }

// .matierequatorze
// {
//   position: absolute;
//   bottom: 0;
//   right: 0px;
//   opacity: 0;
//   -webkit-transition: opacity .5s ease;
//   transition: opacity .5s ease;
//   color: black;
//   background-color: white;
// }

// .blocsept .matierequatorze 
// {
// opacity: 1;
// }


// .blochuit
// {
//   position: relative; 
// }

// .texthuit
// {
//   position: absolute;
//   top: 0;
//   right: 10px;
//   opacity: 0;
//   -webkit-transition: opacity .5s ease;
//   transition: opacity .5s ease;
//   color: black;
//   background-color: white;
// }

// .blochuit .texthuit 
// {
// opacity: 1;
// }

// .matierequinze
// {
//   position: absolute;
//   bottom: 0;
//   left: 0px;
//   opacity: 0;
//   -webkit-transition: opacity .5s ease;
//   transition: opacity .5s ease;
//   color: black;
//   background-color: white;
// }

// .blochuit .matierequinze
// {
// opacity: 1;
// }

// .matiereseize
// {
//   position: absolute;
//   bottom: 0;
//   right: 0px;
//   opacity: 0;
//   -webkit-transition: opacity .5s ease;
//   transition: opacity .5s ease;
//   color: black;
//   background-color: white;
// }

// .blochuit .matiereseize 
// {
// opacity: 1;
// }