header
{
  display: flex; 
  flex-wrap: wrap;
  justify-content: right;

}
.panier
{
    position: absolute;
    bottom: 80%;
    left: 90%;
    transform: translateX(-50%);
    padding: 1.5rem 2.5rem;
    text-transform: uppercase;
}

.navigation
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: blue;

}