img
{
  width: 200px;
  height: 300px;

}

#orga
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.sectionun
{
  display: block;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

}